@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --text-purple:rgba(67,56,202,1);
  --text-purple-dark:rgba(79,70,229,1);
  --text-black:rgba(17,24,39,1);
  --text-white-100:rgba(229,231,235,1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,46,172,1) 0%, rgba(176,111,204,1) 55%, rgba(0,212,255,1) 100%);
}
